body {
  background-color: black;
}
h1 {
  font-family: monospace;
  color: #0eeeb3;
  text-align: center;
}
h2 {
  font-family: monospace;
  color: #0eeeb3;
  text-align: center;
}
p {
  font-family: monospace;
  color: #0eeeb3;
  text-align: justify;

}
img {
  
}
